.card {
    overflow: auto;
    height: 100%;
  }
  

  .container {
    margin-top: 20px;
  }
  
  .card-header {
    background-color: lightsteelblue;
    color: black;
    width: 100%;
    padding: 16px 0;
    right: 0;
    justify-content: center;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .full-width {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
  }
