.card {
  overflow: auto;
  height: 100%;
}


.card-header {
  background: linear-gradient(135deg, #1e3a8a, #3b82f6);
  color: white;
  width: 100%;
  padding: 16px 0;
  right: 0;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.img-marca {
  width: 160px;
  height: 140px;
}