/* Botones */
.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.btn {
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #444;
}

.btn i {
    margin-right: 8px;
}

.btn-excel {
    background-color: #4CAF50;
    color: white;
}

.btn-pdf {
    background-color: #f44336;
    color: white;
}

.btn-print {
    background-color: #008CBA;
    color: white;
}

.btn-save {
    margin-left: auto;
    background-color: #0c8a55;
    color: white;
}

/* Tarjetas */
.card {
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 15px;
    margin-bottom: 20px;
}

.card-body {
    font-family: 'Arial', sans-serif;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

/* Párrafos */
p {
    font-size: 1rem;
    margin-bottom: 10px;
}
.empty-exercises {
    background-color: #f8f9fa;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.empty-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: #6c757d;
}

.ejercicio-card {
    transition: transform 0.3s ease;
    border: none;
    border-radius: 8px;
}

.ejercicio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

