
.resumen-texto {
    font-size: 15px;          /* Tamaño de letra adecuado */
    line-height: 1.6;         /* Buen espaciado entre líneas */
    margin: 10px 0;           /* Espaciado superior e inferior */
    font-family: 'Arial', sans-serif;  /* Fuente limpia y legible */
    color: #333;              /* Color de texto oscuro y profesional */
    text-align: justify;      /* Alineación justificada para mayor profesionalismo */
  }
  

  
  .small-select {
    width: 60px; /* Ajusta el ancho según necesites */
}

  
  .separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px; /* Espacio uniforme alrededor del contenido */
  }
  
  
  
  .card-body {
    margin: 0 auto;
    margin-top: 40px;
    width: 95%;
    overflow-x: auto; /* Habilita el desplazamiento horizontal si es necesario */
  }
  