<div class="text-center mt-4">
  <app-titulo titulo="Grafico de Estudiante"></app-titulo>
</div>


<div class="container mt-4 mb-4">
    <div class="row">
        <div class="d-flex align-items-center gap-3 mb-3">
            <mat-form-field class="custom-field flex-grow-1" appearance="fill">
                <mat-label>Equipo</mat-label>
                <mat-select [(ngModel)]="equipoSeleccionada" (selectionChange)="filtrarUsuarios()">
                    <mat-option value="">Seleccionar equipo</mat-option>
                    <mat-option *ngFor="let sede of estudiante" [value]="sede.codigo">
                        {{ sede.primerNombre+" "+sede.apellidoPaterno }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="card">
      
            <div class="card-body">
                <div class="chart-wrapper">
                    <canvas #radarChart></canvas>
                </div>
            </div>
        </div>


    </div>
</div>