.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}



.table th {
  color: #000;
  background-color: #b0c4de;
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-family: monospace;
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
}

.table td {
  border: 1px solid #ddd;
  padding: 12px;
  font-family: monospace;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #b0c4de;
  color: rgb(0, 0, 0);
}

.btn-editar {
  color: black;
  margin-right: 8px;

}

.btn-eliminar {
  color: red;
  margin-right: 8px;
}

.btn-vista {
  color: #007bff;
  margin-right: 8px;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #ffffff;
  color: #333;
}

.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}




.card-body {
  margin: 0 auto;
  margin-top: 40px;
  width: 95%;
  overflow-x: auto;
}

.table {
  width: 100%;
  table-layout: auto;
}

.table th,
.table td {
  text-align: left;
  white-space: nowrap;
}

@media (max-width: 768px) {

  .table th,
  .table td {
    font-size: 12px;
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  .table {
    font-size: 10px;
  }

  .table th,
  .table td {
    padding: 0.25rem;
  }

  .btn-editar,
  .btn-vista,
  .btn-eliminar {
    font-size: 14px;
  }
}


@media print {
  .btn-print {
    display: none;
  }

  #tablaAImprimir {
    width: 100%;
    border-collapse: collapse;
  }

  #tablaAImprimir th,
  #tablaAImprimir td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  #tablaAImprimir th {
    background-color: #f2f2f2;
  }
}