<app-titulo titulo="Mantenimiento de Profesor">
</app-titulo>
<div class="card-body">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
        <div class="d-flex gap-2">
            <app-button label="Exportar a Excel" icon="fas fa-file-excel" color="excel" (onClick)="exportarExcel()">
            </app-button>

            <app-button label="Exportar a PDF" icon="fas fa-file-pdf" color="pdf" (onClick)="exportarPDF()">
            </app-button>

            <app-button label="Imprimir" icon="fas fa-print" color="imprimir" (onClick)="exportarPrint()">
            </app-button>
        </div>
    </div>

    <app-tabla [columnas]="columnas" [datos]="pagedData" [botonesConfig]="botonesConfigTable"
        [onActualizar]="editar.bind(this)" [onVer]="visor.bind(this)">
    </app-tabla>

    <app-pagination [totalItems]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)">
    </app-pagination>
</div>