
<app-titulo titulo="Mantenimiento de Profesor" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>
<div class="card-body">
    <div class="button-container">
        <!-- Botón Excel -->
        <button class="btn btn-excel" (click)="exportarExcel()">
            <i class="fas fa-file-excel"></i> Exportar a Excel
        </button>

        <!-- Botón PDF -->
        <button class="btn btn-pdf" (click)="exportarPDF()">
            <i class="fas fa-file-pdf"></i> Exportar a PDF
        </button>

        <!-- Botón Imprimir -->
        <button class="btn btn-print" (click)="exportarPrint()">
            <i class="fas fa-print"></i> Imprimir
        </button>

    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Nro Documento</th>
                <th>Cargo</th>
                <th>Sede</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of pagedData">
                <td>{{ row.codigo }}</td>
                <td>{{ row.primerNombre + " " + row.segundoNombre+ " "+row.apellidoPaterno+" " +row.apellidoMaterno }}
                </td>
                <td>{{ row.correo }}</td>
                <td>{{ row.telefono }}</td>
                <td>{{ row.dni }}</td>
                <td>{{ row.cargo.nombre }}</td>
                <td>{{ row.sede.nombre }}</td>
                <td>
                    <button mat-icon-button class="btn-editar" (click)="editar(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-vista" (click)="visor(row)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)">
    </mat-paginator>
</div>