<app-titulo titulo="Historial de Partido" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>
<div class="container pb-4" style="background-color: #f8f9fa;">
    <div class="bg-light mb-4 p-3">
        <app-filter-select label="Equipo" [options]="opcionesEquipo" [value]="equipoSeleccionada"
            (valueChange)="equipoSeleccionada = $event; filtrarUsuarios()">
        </app-filter-select>

        <app-partidos-card [equipoSeleccionada]="equipoSeleccionada" [estudiantesFiltrados]="estudiantesFiltrados">
        </app-partidos-card>

        <!-- Lista de partidos -->

    </div>
</div>