<app-titulo titulo="Estudiante" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>
<div class="container mt-4 pb-4">


  <div class="search-container">
    <mat-form-field appearance="outline" class="custom-search">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" placeholder="Buscar por nombre o apellidos" [(ngModel)]="filtro"
        (input)="filtrarUsuarios()">
    </mat-form-field>
  </div>
  <div class="filters-container">
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Sedes</mat-label>
      <mat-select [(ngModel)]="sedeSeleccionada" (selectionChange)="filtrarUsuarios()">
        <mat-option value="">Todas las sedes</mat-option>
        <mat-option *ngFor="let sede of sedes" [value]="sede.nombre">
          {{ sede.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Género</mat-label>
      <mat-select [(ngModel)]="generoSeleccionado" (selectionChange)="filtrarUsuarios()">
        <mat-option value="">Todos los géneros</mat-option>
        <mat-option *ngFor="let genero of generos" [value]="genero.clave">
          {{ genero.descripcion1 }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <app-user-card [datos]="usuariosFiltrados" [columnas]="columnas" (ver)="onVer($event)">
  </app-user-card>

</div>