<app-titulo titulo="Estudiante" >
</app-titulo>
<div class="container mt-4 pb-4">


  <app-search [value]="filtro" placeholder="Buscar por nombre o apellidos" hint="Ingrese al menos 3 caracteres"
    (valueChange)="filtro = $event; filtrarUsuarios()">
  </app-search>

  <div class="row g-3">

    <div class="col-md-6 col-12">
      <app-filter-select label="Sedes" [options]="opcionesSedes" [value]="sedeSeleccionada"
        (valueChange)="sedeSeleccionada = $event; filtrarUsuarios()">
      </app-filter-select>
    </div>

    <div class="col-md-6 col-12">
      <app-filter-select label="Género" [options]="opcionesGenero" [value]="generoSeleccionado"
        (valueChange)="generoSeleccionado = $event; filtrarUsuarios()">
      </app-filter-select>
    </div>


  </div>

  <app-user-card [datos]="usuariosFiltrados" [columnas]="columnas" (ver)="onVer($event)">
  </app-user-card>

</div>