<app-titulo titulo="Estadisticas de Partido" >
</app-titulo>

<div class="container mt-4">
  <div class="d-flex align-items-center gap-3 mb-3">
    <mat-form-field class="custom-field flex-grow-1" appearance="fill">
      <mat-label>Equipo</mat-label>
      <mat-select [(value)]="equipoSeleccionado" (selectionChange)="filtrarUsuarios()">
        <mat-option value="">Seleccionar equipo</mat-option>
        <mat-option *ngFor="let sede of listado" [value]="sede">
          {{ sede }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-primary text-white text-center">
          Resultados de Partidos por Jornada
        </div>
        <div class="card-body">
          <canvas id="chart1"></canvas>
        </div>

      </div>
      <!-- Gráfico 3 -->
      <div class="card shadow-lg">
        <div class="card-header bg-success text-white text-center">
          Tabla de Barra de Partidos
        </div>
        <div class="card-body">
          <canvas id="chart3"></canvas>
        </div>

      </div>
    </div>

    <!-- Columna 2: Gráfico 2 -->
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-warning text-dark text-center">
          Porcentaje de Partidos
        </div>
        <div class="card-body">
          <canvas id="chart2"></canvas>
        </div>

      </div>
    </div>
  </div>
</div>
<br><br>