
<app-titulo titulo="Historial de Partido" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>


<div class="card-body">
  <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
        <div class="d-flex gap-2">
            <app-button label="Exportar a Excel" icon="fas fa-file-excel" color="excel" (onClick)="exportarExcel()">
            </app-button>

            <app-button label="Exportar a PDF" icon="fas fa-file-pdf" color="pdf" (onClick)="exportarPDF()">
            </app-button>

            <app-button label="Imprimir" icon="fas fa-print" color="imprimir" (onClick)="exportarPrint()">
            </app-button>
        </div>


    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Equipo Local</th>
                <th>Resultado</th>
                <th>Equipo Rival</th>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Resultado</th>
                <th>Acciónes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="pagedData.length === 0">
                <td colspan="9" style="text-align: center; color: grey;">
                    No hay datos disponibles.
                </td>
            </tr>
            <tr *ngFor="let row of pagedData">
                <td>{{ row.codigo }}</td>
                <td>{{ row.equipo.nombre }}</td>
                <td>{{row.marcadorLocal +"- "+row.marcadorVisita}}</td>
                <td>{{ row.equipoRival }}</td>
                <td>{{ row.lugar }}</td>
                <td>{{ row.fecha }}</td>
                <td>{{ row.hora }}</td>
                <td>{{ row.resultado }}</td> <!-- Mostrar el resultado -->
          
            <td>
                <button mat-icon-button class="btn-editar" (click)="editar(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="btn-vista" (click)="visor(row)">
                    <mat-icon>visibility</mat-icon>
                </button>

            </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)">
    </mat-paginator>
    
</div>