.separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.title {
    margin: 0;
    flex-grow: 1;
    margin-right: 70px;
}
img{
    object-fit: cover; width: 400px; height: 100%; border-radius: 8px;
}

.button mat-icon {
    height: 10px;
    background: transparent;
    border: none;
    position: relative;
}


.volver-btn {
    margin-left: 10px;
    color: white;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 20%;
}.card img {
  max-height: 350px;
  object-fit: cover;
}
