<app-titulo
  titulo="Datos Personales"
 [botonesConfig]="botonesConfig"
  (editar)="operar()"
  (volver)="volver()">
</app-titulo>
<div class="container my-4">
    <div class="card mb-4 shadow-sm" *ngFor="let usuario of lista">
        <div class="card-body">
            <h2 class="text-center fw-bold mb-4">
                {{ usuario.primerNombre }}
                {{ usuario.segundoNombre }}
                {{ usuario.apellidoPaterno }}
                {{ usuario.apellidoMaterno }}
            </h2>
            <div class="row align-items-center">
                <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
                    <div class="text-center">
                        <img *ngIf="mostrarImagen(usuario)" [src]="mostrarImagen(usuario)" alt="Imagen"
                            class="img-fluid imagen-ajustada">
                        <img *ngIf="!mostrarImagen(usuario)" src="assets/img/perfil.png" alt="Imagen predeterminada"
                            class="img-fluid"
                            style="object-fit: cover; width: 400px; height: 100%; border-radius: 8px;">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h4 class="fw-bold text-secondary mb-3">
                        Detalles del Usuario
                    </h4>
                    <div class="row">
                        <h3 class="col-12 col-md-6"><strong>Primer Nombre:</strong> {{
                            usuario.primerNombre }}</h3>
                        <h3 class="col-12 col-md-6"><strong>Segundo Nombre:</strong> {{
                            usuario.segundoNombre }}</h3>
                        <h3 class="col-12 col-md-6"><strong>Apellido Paterno:</strong>
                            {{
                            usuario.apellidoPaterno }}</h3>
                        <h3 class="col-12 col-md-6"><strong>Apellido Materno:</strong>
                            {{
                            usuario.apellidoMaterno }}</h3>
                        <h3 class="col-12 col-md-6"><strong>Username:</strong> {{
                            usuario.usuario.username }}</h3>
                        <h3 class="col-12 col-md-6"><strong>Correo:</strong> {{
                            usuario.correo
                            }}</h3>
                        <h3 class="col-12 col-md-6"><strong>Teléfono:</strong> {{
                            usuario.telefono }}</h3>
                        <h3 class="col-12 col-md-6"><strong>DNI:</strong> {{ usuario.dni
                            }}
                        </h3>
                        <h3 class="col-12 col-md-6"><strong>Dirección:</strong> {{
                            usuario.direccion }}</h3>
                        <h3 class="col-12 col-md-6"><strong>Edad:</strong> {{
                            usuario.edad
                            }}
                        </h3>
                        <h3 class="col-12 col-md-6"><strong>Fecha de
                                Nacimiento:</strong> {{
                            usuario.fechaNacimiento | date:'dd/MM/yyyy' }}</h3>
                        <h3 class="col-12 col-md-6"><strong>Nacionalidad:</strong> {{
                            usuario.nacionalidad }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>