<div class="card">
    <div class="card-header position-sticky sticky-top bg-light mb-3">
        <div class="container-fluid px-4 px-md-5 py-3">
            <div class="d-flex flex-column flex-md-row align-items-center text-center text-md-start gap-3">
                <h1 class="fw-bold m-0 fs-3 fs-md-1">
                    Registrar
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="formulario">
            <div class="row">
                <div class="col-12 col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Equipo</mat-label>
                        <mat-select formControlName="equipo" style="height: 29px;">
                            <mat-option *ngFor="let nombre of equipo" [value]="nombre.codigo">
                                {{ nombre.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Equipo Rival</mat-label>
                        <input matInput formControlName="equipoRival" style="height: 29px;">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Seleccione Fecha</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha"
                            placeholder="Selecciona una fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Selecciona la hora</mat-label>
                        <input matInput type="time" formControlName="hora">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Lugar</mat-label>
                        <input matInput formControlName="lugar" style="height: 29px;">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Tipo Partido</mat-label>
                        <input matInput formControlName="tipo" style="height: 29px;">
                    </mat-form-field>
                </div>
            </div>

            <div class="row g-2 ">
                <div class="col-12 col-md-6">
                    <app-button label="Registrar" icon="fas fa-save" color="actualizar" (onClick)="operar()">
                    </app-button>
                </div>

                <div class="col-12 col-md-6">
                    <app-button label="Volver" icon="fas fa-long-arrow-alt-left" color="eliminar" (onClick)="cerrar()">
                    </app-button>
                </div>
            </div>
        </form>
    </div>
</div>