<div class="card">
    <div class="card-header position-sticky sticky-top">
        <div
            class=" container d-flex flex-column flex-md-row align-items-center  align-items-md-center text-center text-md-start gap-3  ">
            <h1 class="fw-bold m-0 fs-3 fs-md-1">
                Tabla Generales Desactivado
            </h1>
            <div class="d-flex  gap-2 justify-content-center ms-md-auto ">

                <app-button label="Volver" icon="fas fa-long-arrow-alt-left" color="eliminar" (onClick)="volver()">
                </app-button>
            </div>
        </div>
    </div>
      <div class="card-body">
        <app-tabla [columnas]="columnas" [datos]="pagedData" [botonesConfig]="botonesConfigTable"
            [onVer]="visor.bind(this)" [onDesactivar]="eliminar.bind(this)"></app-tabla>
    </div>
    <app-pagination [totalItems]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)">
    </app-pagination>
</div>