<div class="card">
  <div class="card-header position-sticky sticky-top">
    <button _ngcontent-yfb-c88="" (click)="cerrar()" class="btn btn-danger button_close" tabindex="0"><i
        _ngcontent-yfb-c88="" class="fas fa-long-arrow-alt-left"></i></button>
    <button _ngcontent-yfb-c69="" class="btn btn-success ng-star-inserted" (click)="save()"
      style="margin-right: 10px; align-items: flex-end;"><i _ngcontent-yfb-c69="" class="fas fa-save"></i></button>
    <h3 style="margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;font-family: monospace;">
      Crear Evento</h3>
  </div>
  <div class="container">
    <form [formGroup]="formulario">
      <div class="row">
        <!-- Primera columna -->
        <div class="col-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nombre de Clases</mat-label>
            <input formControlName="nombre" matInput placeholder="Evento" />
          </mat-form-field>

          <mat-form-field class="full-width custom-field" appearance="fill">
            <mat-label>Equipo</mat-label>
            <mat-select formControlName="equipo" placeholder="Seleccione un Equipo">
              <mat-option value="">Todas las equipo</mat-option>
              <mat-option *ngFor="let equipo of equipoListar" [value]="equipo.codigo">
                {{ equipo.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width custom-field" appearance="fill">
            <mat-label>Fecha de Inicio</mat-label>
            <input formControlName="fechaInicio" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Segunda columna -->
        <div class="col-6">
          <mat-form-field class="full-width custom-field" appearance="fill">
            <mat-label>Horario</mat-label>
            <mat-select formControlName="horario" [(ngModel)]="selectedHorario" placeholder="Seleccione un horario"
              (selectionChange)="onHorarioChange($event)">
              <mat-option value="">Todas las horario</mat-option>
              <mat-option *ngFor="let horario of horarioListar" [value]="horario.codigo">
                {{ horario.inicioHora }} - {{ horario.finHora }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width custom-field" appearance="fill">
            <mat-label>Dia</mat-label>
            <mat-select formControlName="dia" placeholder="Seleccione un día" [disabled]="!isFormEnabled">
              <mat-option value="">Todas los Días</mat-option>
              <!-- Renderiza los días filtrados según isHorarioSelected -->
              <ng-container *ngFor="let dia of listarDia">
                <mat-option [value]="dia.descripcion1" *ngIf="!isHorarioSelected(dia)">
                  {{ dia.descripcion1 }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width custom-field" appearance="fill">
            <mat-label>Fecha de Fin</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fechaFin" [min]="minDate" [max]="maxDate"
              placeholder="Selecciona una fecha" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>


        </div>
        <mat-form-field class="col-12 custom-textarea" appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea formControlName="desc" matInput placeholder="Escribe aquí..."></textarea>
        </mat-form-field>

      </div>
    </form>

  </div>
</div>