<div class="container mt-4 mb-4 ">

    <div class="d-flex justify-content-end mb-3">
        <app-button [label]="claseListar.length ? 'Editar' : 'Registrar'"
            [icon]="claseListar.length ? 'fas fa-edit' : 'fas fa-plus-circle'"
            [color]="claseListar.length ? 'editar' : 'registrar'"
            (onClick)="claseListar.length ? editar() : registrar()">
        </app-button>
    </div>

    <div *ngFor="let clase of claseListar" class="my-2 p-3 border rounded shadow-sm bg-light">
        <app-titulo [titulo]="clase.titulo" class="mb-3">
        </app-titulo>
        <div class="container">
            <h2 class="h5 mt-3 mb-2">
                <i class="fas fa-thumbtack me-2 "></i>
                Descripción
            </h2>
            <p class="text-muted mb-3 " [innerHTML]="formatTexto(clase.descripcion)"></p>

            <h2 class="h5 mt-3 mb-2">
                <i class="fas fa-bullseye me-2 "></i>
                Objetivo
            </h2>
            <p class="text-muted mb-2" [innerHTML]="formatTexto(clase.objetivo)"></p>

        </div>
    </div>
</div>