<div class="card">
    <div class="card-header position-sticky sticky-top">
        <button _ngcontent-yfb-c88="" (click)="cerrar()" class="btn btn-danger button_close" tabindex="0"><i
                _ngcontent-yfb-c88="" class="fas fa-long-arrow-alt-left"></i></button>
        <button _ngcontent-yfb-c69="" class="btn btn-success ng-star-inserted" (click)="operar()"
            style="margin-right: 10px; align-items: flex-end;"><i _ngcontent-yfb-c69=""
                class="fas fa-save"></i></button>
        <h3 style="margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;font-family: monospace;">
            Editar</h3>
    </div>
    <div class="container">
        <form [formGroup]="formulario">
            <div class="row">
                <!-- Campo para Hora de Inicio -->
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Hora de Inicio</mat-label>
                    <input formControlName="inicio" matInput type="time" />
                </mat-form-field>
    
                <!-- Campo para Hora Final -->
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Hora Final</mat-label>
                    <input formControlName="fin" matInput type="time" />
                </mat-form-field>
            </div>
        </form>
    </div>
    
    
</div>