<body>


  <div class="container">
    <div class="login-card">
      <div class="header">
        <h1 class="title">INICIAR SESIÓN</h1>
      </div>
      <div class="main">
        <form (ngSubmit)="formSubmit()" #loginForm="ngForm">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre de usuario</mat-label>
            <mat-icon matPrefix style="margin-right: 10px; color: #022f5c;">person</mat-icon>
            <input matInput [(ngModel)]="loginData.username" name="username" required
              placeholder="Digite su nombre de usuario">
          </mat-form-field>


          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <mat-icon matPrefix class="icon-spacing">lock</mat-icon>
            <input matInput [(ngModel)]="loginData.password" name="password" required
              [type]="hidePassword ? 'password' : 'text'" placeholder="Digite su contraseña">

            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button"
              aria-label="Mostrar u ocultar contraseña">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>




          <button mat-raised-button class="login-button" type="submit">
            <mat-icon>login</mat-icon>
            Iniciar sesión
          </button>
        </form>
      </div>
    </div>

    <div class="welcome-panel">
      <div class="welcome-content">

        <h1 class="welcome-title">BIENVENIDOS</h1>
        <p class="welcome-subtitle">Academia Santos FC</p>
        <p class="welcome-text">Formando campeones dentro y fuera de la cancha</p>
      </div>
    </div>
  </div>
</body>