<div class="example-container">
  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened" class="fw-bold fs-3">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened" class="fw-bold fs-3">close</mat-icon>
      </button>

      <span class="example-spacer"></span>
      <div class="d-flex align-items-center gap-2">
        <h4 *ngIf="isLoggedIn && user" class="fw-bold mb-0">{{ user.username }}</h4>
        <h4 class="fw-bold mb-0 ">- PROFESOR</h4>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>check_circle</mat-icon>
          <span>Version: <strong>1.0.0</strong></span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Configuracion <strong></strong></span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="push" [opened]="false">
      <mat-divider></mat-divider>
      <mat-list>
        <ng-container *ngFor="let menuItem of datosmenuPrimero">
          <mat-list-item [routerLink]="[menuItem.ruta]" (click)="toggleSubMenu(menuItem)" style="cursor: pointer">
            <mat-icon class="fw-bold fs-5">{{ menuItem.icono }}</mat-icon>
            <span class="ms-2  text-dark">{{ menuItem.nombre }}</span>

          </mat-list-item>
          <ng-container *ngIf="menuItem.mostrarSubMenu">
            <mat-list-item *ngFor="let subMenuItem of this.menu2FiltradoPorCategoria[menuItem.categoria]"
              [routerLink]="[subMenuItem.ruta]" style="cursor: pointer">
              <mat-icon class="fw-bold fs-5">{{ subMenuItem.icono }}</mat-icon>
              <span  class="ms-2  text-dark">{{ subMenuItem.nombre }}</span>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>