<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../../../../assets/img/inicio/Logo.png" alt="FRAMA FÚTBOL">
                ACADEMIA SANTOS FC
            </div>

            <div class="contact-info">
                <a href="https://wa.me/940970572" class="contact-item">
                    <i class="fab fa-whatsapp"></i>
                    940 970 572
                </a>
                <a href="https://wa.me/947947808" class="contact-item">
                    <i class="fab fa-whatsapp"></i>
                    947 947 808
                </a>
                <a href="mailto:informes@framafutbol.com" class="contact-item">
                    <i class="far fa-envelope"></i>
                    informes&#64;santosfutbol.com
                </a>
            </div>

            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-tiktok"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="copyright">
                ©2023 Santos FC Todos los Derechos Reservados
            </div>
            <div class="footer-links">
                <a href="#" class="footer-icon"><i class="fas fa-book"></i></a>
                <a href="#" class="footer-icon"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</footer>