<h2 class="nombre-equipo">Evaluación</h2>
<hr class="separador">
<div class="container">
    <div class="row">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Pases</th>
                    <th>Tiros</th>
                    <th>Posicionamiento</th>
                    <th>Visión de<br> Juego</th>
                    <th>Resistencia</th>
                    <th>Velocidad</th>
                    <th>Fuerza</th>
                    <th>Concentración</th>
                    <th>Toma de<br> Decisiones</th>
                    <th>Final</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!evaluacion || evaluacion.length === 0">
                    <td colspan="11" style="text-align: center; color: grey;">
                        No hay datos disponibles.
                    </td>
                </tr>
                <tr *ngFor="let estudiante of evaluacion">
                    <td class="text-center">
                        {{ estudiante.evaluacion.estudiante.primerNombre +" "+
                        estudiante.evaluacion.estudiante.apellidoPaterno +" "
                        +estudiante.evaluacion.estudiante.apellidoMaterno }}
                    </td>
                    <td class="text-center">{{ estudiante.pases ?? 0 }}</td>
                    <td class="text-center">{{ estudiante.tiros ?? 0 }}</td>
                    <td class="text-center">{{ estudiante.posicionamiento ?? 0 }}</td>
                    <td class="text-center">{{ estudiante.visionJuego ?? 0 }}</td>
                    <td class="text-center">{{ estudiante.resistencia ?? 0 }}</td>
                    <td class="text-center">{{ estudiante.velocidad ?? 0 }}</td>
                    <td class="text-center">{{ estudiante.fuerza ?? 0 }}</td>
                    <td class="text-center">{{ estudiante.concentracion ?? 0 }}</td>
                    <td class="text-center">{{ estudiante.tomaDecisiones ?? 0 }}</td>
                    <td class="text-center">{{ estudiante.notaFinal ?? 0 }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-right"><strong>Total Nota Final:</strong></td>
                    <td class="text-center">{{ totalNotaFinal }}</td>
                </tr>
            </tfoot>
            
        </table>
        
    </div>
</div>