<mat-tab-group [(selectedIndex)]="activeTab1">
    <mat-tab>
        <ng-template mat-tab-label>Historial Rendimiento</ng-template>
        <div *ngIf="activeTab1 === 0">
         <app-historial-evaluacion-profesor></app-historial-evaluacion-profesor>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>Grafico</ng-template>
        <div *ngIf="activeTab1 === 1">
            <app-grafico-evaluacion-profesor></app-grafico-evaluacion-profesor>
        </div>
    </mat-tab>
</mat-tab-group>
