.card {
    overflow: auto;
    height: 100%;
  }
  .separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  
  
  .table th {
    color: #000; 
    background-color: #b0c4de;
     border: 1px solid #ddd;
    padding: 12px;  
    text-align: left;
     font-family: monospace;
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
  }
  .table td {
    border: 1px solid #ddd;
    padding: 12px;
    font-family: monospace;
  }
  
  .table-striped tbody tr:nth-child(even) {
    background-color: #b0c4de;
    color: rgb(0, 0, 0);
  }


  .btn-print{
    margin-right: 8px; 
    color: black;
  }
  .btn-editar {
    color: black; 
    margin-right: 8px; 
  
  }
  
  .btn-eliminar {
    color: red; 
    margin-right: 8px; 
  }

  .btn-vista {
    color: #007bff; 
    margin-right: 8px; 
  }
  

  .table-striped tbody tr:nth-child(odd) {
    background-color: #ffffff;
    color: #333;
  }
  

  .table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .title {
    margin: 0;
    flex-grow: 1;
    margin-right: 70px; 
  }
  .button mat-icon {
    height: 10px;
    background: transparent;
    border: none;
    position: relative;
  }
  

  
  .card {
    overflow: auto;
    height: 100%;
  }
  
  .btn-success {
    float: right;
    height: max-content;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 5px;
  }
  
  .btn-danger {
    float: right;
    height: max-content;
    margin-top: 5px;
    margin-right: 5px;
  }
  
  .container {
    margin-top: 20px;

  }
  .card-header {
    background-color: lightsteelblue;
    color: black;
    width: 100%;
    padding: 16px 0;
    right: 0;
    justify-content: center;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  


  mat-form-field {
    width: 100%;
  }

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
.custom-search {
  width: 100%;
  height: 76px;
  max-width: 600px; 
  background: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

  .custom-search mat-icon {
  
    font-size: 24px; 
  }
  

  .custom-search input {
    font-size: 16px; 
    padding: 10px;
  }
  

  .custom-search.mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: #3f51b5; 
    transition: all 0.3s ease-in-out; 
  }
  
  .custom-search.mat-form-field-appearance-outline:hover .mat-form-field-outline {
    border-color: #5c6bc0; 
  }
  