<div class="card">
    <div class="card-header position-sticky sticky-top">
        <button _ngcontent-yfb-c88="" (click)="cerrar()" class="btn btn-danger button_close" tabindex="0"><i
                _ngcontent-yfb-c88="" class="fas fa-long-arrow-alt-left"></i></button>
        <button _ngcontent-yfb-c69="" class="btn btn-success ng-star-inserted" (click)="operar()"
            style="margin-right: 10px; align-items: flex-end;"><i _ngcontent-yfb-c69=""
                class="fas fa-save"></i></button>
        <h3 style="margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;font-family: monospace;">
            Editar</h3>
    </div>
    <div class="container">
        <form [formGroup]="formulario">
            <div class="row">
                <!-- Nombre 1 -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Primer Nombre</mat-label>
                        <input formControlName="primerNombre" matInput>
                    </mat-form-field>
                </div>

                <!-- Nombre 2 -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Segundo Nombre</mat-label>
                        <input formControlName="segundoNombre" matInput>
                    </mat-form-field>
                </div>

                <!-- Apellido Paterno -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Apellido Paterno</mat-label>
                        <input formControlName="apellidoPaterno" matInput>
                    </mat-form-field>
                </div>

                <!-- Apellido Materno -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Apellido Materno</mat-label>
                        <input formControlName="apellidoMaterno" matInput>
                    </mat-form-field>
                </div>

                <!-- Usuario -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input formControlName="usuario" matInput>
                    </mat-form-field>
                </div>

                <!-- Contraseña -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="contra" matInput type="password">
                    </mat-form-field>
                </div>

                <!-- Telefono -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Telefono</mat-label>
                        <input formControlName="telefono" matInput>
                    </mat-form-field>
                </div>

                <!-- DNI -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>DNI</mat-label>
                        <input formControlName="dni" matInput>
                    </mat-form-field>
                </div>

                <!-- Correo -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input formControlName="email" matInput>
                    </mat-form-field>
                </div>

                <!-- Fecha Nacimiento -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                      <mat-label>Fecha Nacimiento</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="nacimiento"
                        placeholder="Seleccione su fecha de nacimiento"
                        [min]="minDate"
                        [max]="maxDate"
                      />
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  

                <!-- Nacionalidad -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nacionalidad</mat-label>
                        <input formControlName="nacionalidad" matInput>
                    </mat-form-field>
                </div>

                <!-- Direccion -->
                <div class="col-12 col-md-6 col-lg-3">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Direccion</mat-label>
                        <input formControlName="direccion" matInput>
                    </mat-form-field>
                </div>

            </div>
        </form>
    </div>

</div>