<div class="card" *ngFor="let perfil of datos">
    <div class="card-header position-sticky sticky-top" style="background-color: lightsteelblue;">
        <br>
        <div class="d-flex justify-content-center align-items-center mb-3 col-auto">
            <img *ngIf="mostrarImagen(perfil)" [src]="mostrarImagen(perfil)" alt="Imagen"
                class="img-marca rounded-circle img-fluid">
            <img *ngIf="!mostrarImagen(perfil)" src="assets/img/perfil.png"
                alt="Imagen predeterminada" class="img-marca rounded-circle img-fluid">
        </div>
    </div>
    <div>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px; text-align: center;">Datos de Usuario </h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">{{"Usuario: "+perfil.usuario.username}}</h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">{{"Nombre : "+perfil.primerNombre +" "+perfil.segundoNombre}}</h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">{{"Apellido: "+perfil.apellidoPaterno+ " "+perfil.apellidoMaterno}}</h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">{{"Correo: "+perfil.correo}}</h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">{{"Telefono: "+perfil.telefono}}</h3>
    </div>
    <br>
</div>