<div class="card">
  <div class="card-header position-sticky sticky-top">
    <button type="button" class=" btn btn-danger" (click)="cerrar()"><i class="fas fa-long-arrow-alt-left"></i></button>
    <h3 style="margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;font-family: monospace;">
      Visualizacion</h3>
  </div>
  <div class="container">
    <form [formGroup]="formulario">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Primer Nombre</mat-label>
            <input formControlName="primerNombre" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Segundo Nombre</mat-label>
            <input formControlName="segundoNombre" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Apellido Paterno</mat-label>
            <input formControlName="apellidoPaterno" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Apellido Materno</mat-label>
            <input formControlName="apellidoMaterno" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input formControlName="usuario" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefono</mat-label>
            <input formControlName="telefono" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>DNI</mat-label>
            <input formControlName="dni" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Correo</mat-label>
            <input formControlName="email" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Fecha Nacimiento</mat-label>
            <input formControlName="nacimiento" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nacionalidad</mat-label>
            <input formControlName="nacionalidad" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Direccion</mat-label>
            <input formControlName="direccion" matInput>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Edad</mat-label>
            <input formControlName="edad" matInput>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>