.card {
  overflow: auto;
  height: 100%;
}

.btn-danger {
  float: right;
  height: max-content;
  margin-top: 5px;
  margin-right: 5px;
}

.container {
  margin-top: 20px;

}

.card-header {
  background-color: lightsteelblue;
  color: black;
  width: 100%;
  padding: 16px 0;
  right: 0;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
}


.form-field {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}