

<app-titulo
  titulo="Modulos de Clases"
 [botonesConfig]="botonesConfig"
  (volver)="volver()">
</app-titulo>
<div class="container mt-4">
    <div class="d-flex flex-column flex-sm-row align-items-center gap-3 mb-3">
        <!-- Selección de opción -->
        <mat-form-field class="custom-field flex-grow-1" appearance="fill">
            <mat-label>Selecciona una opción</mat-label>
            <mat-select [(value)]="opcionSeleccionada">
                <mat-option *ngFor="let opcion of opciones" [value]="opcion">
                    {{ opcion }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="opcionSeleccionada === 'Clases'">
        <app-clase-dev-estudiante></app-clase-dev-estudiante>
        <!--        <app-clase-dev></app-clase-dev>-->
    </div>
    <div *ngIf="opcionSeleccionada === 'Alumnos'">
        <app-alumnos-estudiante></app-alumnos-estudiante>
        <!--  <app-estudiante-dev-pro></app-estudiante-dev-pro>-->
    </div>
    <div *ngIf="opcionSeleccionada === 'Profesores'">
        <app-profe-estudiante></app-profe-estudiante>
    </div>
    <div *ngIf="opcionSeleccionada === 'Lesiones'">
        <app-lesion-estudiante></app-lesion-estudiante>
    </div>
    <div *ngIf="opcionSeleccionada === 'Notas'">
        <app-modulo-evaluacion-estudiante></app-modulo-evaluacion-estudiante>
    </div>

    <br>

</div>