<app-titulo titulo="Modulos de Clases">
</app-titulo>
<div class="container mt-4">

    <app-filter-select label="Clases" [showTodos]="false" [options]="opciones" [value]="opcionSeleccionada"
        (valueChange)="opcionSeleccionada = $event; ">
    </app-filter-select>

    <div *ngIf="opcionSeleccionada === 'Clases'">
        <app-clase-dev-estudiante></app-clase-dev-estudiante>
    </div>
    <div *ngIf="opcionSeleccionada === 'Alumnos'">
        <app-alumnos-estudiante></app-alumnos-estudiante>

    </div>
    <div *ngIf="opcionSeleccionada === 'Profesores'">
        <app-profe-estudiante></app-profe-estudiante>
    </div>
    <div *ngIf="opcionSeleccionada === 'Lesiones'">
        <app-lesion-estudiante></app-lesion-estudiante>
    </div>
    <div *ngIf="opcionSeleccionada === 'Notas'">
        <app-modulo-evaluacion-estudiante></app-modulo-evaluacion-estudiante>
    </div>

    <br>

</div>