.separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.title {
    margin: 0;
    flex-grow: 1;
    margin-right: 70px;
}

.button mat-icon {
    height: 10px;
    background: transparent;
    border: none;
    position: relative;
}


.col-md-4 {

    width: 33.33%;
  }
  .img-marca {
    width: 160px;
    height: 140px;
}