<div class="card" *ngFor="let perfil of datos">
    <div class="card-header position-sticky sticky-top" style="background-color: lightsteelblue;">
        <br>
        <div class="d-flex justify-content-center align-items-center mb-3 col-auto">
            <img *ngIf="mostrarImagen(perfil)" [src]="mostrarImagen(perfil)" alt="Imagen"
                class="img-marca rounded-circle img-fluid">
            <img *ngIf="!mostrarImagen(perfil)" src="assets/img/perfil.png" alt="Imagen predeterminada"
                class="img-marca rounded-circle img-fluid">
        </div>
    </div>
    <div *ngIf="perfil.profesor.codigo !== '0000'; else otroContenido">
        <h3
            style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px; text-align: center;">
            Datos de Usuario </h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">
            {{"Nombre: " + (perfil.profesor.primerNombre || "") + " " + (perfil.profesor.segundoNombre || "")}}</h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">
            {{"Apellido: "+perfil.profesor.apellidoPaterno+ " "+perfil.profesor.apellidoMaterno}}</h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">
            {{"Cargo:"+perfil.profesor.cargo.nombre}}</h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">
            {{"Sede:"+perfil.profesor.sede.nombre}}</h3><br><br><br>
    </div>
    <ng-template #otroContenido>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">
            {{"Nombre: " + (perfil.estudiante.primerNombre || "") + " " + (perfil.estudiante.segundoNombre || "")}}</h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">
            {{"Apellido: "+perfil.estudiante.apellidoPaterno+ " "+perfil.estudiante.apellidoMaterno}}</h3>
        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">
            {{"NumeroCamiseta: "+perfil.numeroCamiseta}}</h3>
        <h3 style="font-family: monospace; margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">
            {{"Posición: " + (perfil.posicion ? perfil.posicion : "No tiene posición")}}
        </h3>

        <h3 *ngIf="perfil.numeroCamiseta"
            style="font-family: monospace; margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">
            {{"Número Camiseta: " + perfil.numeroCamiseta}}
        </h3>

        <h3 style="font-family: monospace;margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;">{{"Sede:"
            +perfil.estudiante.sede.nombre}}</h3><br><br><br>
    </ng-template>
    <br>
</div>