<div class="separator">
    <h1 style="font-family: monospace;">Mantenimiento de Lesiones de Estudiante</h1>
    <div class="card-header position-sticky sticky-top">
        <button _ngcontent-yfb-c88="" class="volver-btn" (click)="volver()" class="btn btn-danger button_close"
            tabindex="0"><i _ngcontent-yfb-c88="" class="fas fa-long-arrow-alt-left"></i></button>
    </div>
</div>
<div class="container">

    <div class="d-flex flex-column flex-sm-row align-items-center gap-3 mb-3">
        <!-- Selección de equipo -->
        <mat-form-field class="custom-field flex-grow-1" appearance="fill">
            <mat-label>Equipo</mat-label>
            <mat-select [(ngModel)]="equipoSeleccionada" (selectionChange)="filtrarUsuarios()">
                <mat-option value="">Todas las equipos</mat-option>
                <mat-option *ngFor="let sede of equipo" [value]="sede.nombre">
                    {{ sede.nombre }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <br>
    <div style="display: flex; justify-content: flex-end; margin-bottom: 15px;">
        <button  mat-raised-button class="btn-save"
            (click)="registrar()">
            <mat-icon style="margin-right: 5px;">edit</mat-icon>
           Registar
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Lesión</th>
                    <th>Fecha de la Lesión</th>
                    <th>Gravedad</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="estudiantesFiltrados.length === 0">
                    <td colspan="6" style="text-align: center; color: grey;">
                        No hay datos disponibles.
                    </td>
                </tr>
                <tr *ngFor="let row of estudiantesFiltrados">
                    <td>{{ row.estudiante.codigo }}</td>
                    <td>{{row.estudiante.estudiante.primerNombre+" "+row.estudiante.estudiante.apellidoPaterno+" "+row.estudiante.estudiante.apellidoMaterno}}</td>
                    <td>{{row.lesionado.tipoLesion}}</td>
                    <td>{{row.lesionado.fechaLesion}}</td>
                    <td>{{row.lesionado.gravedad}}</td>
                    <td>
                        <button mat-icon-button class="btn-editar" (click)="editar(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="btn-vista" (click)="virsor(row)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
