.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
}

.example-sidenav-container {
  flex: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

 mat-sidenav {
  width: 28%;
  min-width: 350px;
}



@media (max-width: 600px) {
  mat-sidenav {
    width: 45% !important;
  }

  .img-logo {
    width: 30%;
  }
}

@media (max-width: 753.60px) {
  .navegador>*:not(.ejercicios) {
    display: none !important;
  }
}

.sidenav-content {
    height: 92vh;


    display: flex;
    align-items: center;
    justify-content: center;
}
.content-wrapper {
    height: 100%;
    width: 100%;
}