<div class="card">
    <div class="card-header position-sticky sticky-top bg-light mb-3">
        <div class="container-fluid px-4 px-md-5 py-3">
            <div class="d-flex flex-column flex-md-row align-items-center text-center text-md-start gap-3">
                <h1 class="fw-bold m-0 fs-3 fs-md-1">
                    Registrar
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="formulario">
            <div class="row">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Hora de Inicio</mat-label>
                    <input formControlName="inicio" matInput type="time" [min]="minTime" [max]="maxTime" />
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Hora Final</mat-label>
                    <input formControlName="fin" matInput type="time" />
                </mat-form-field>
            </div>
            <div class="row g-2 ">
                <div class="col-12 col-md-6">
                    <app-button label="Registrar" icon="fas fa-save" color="actualizar" (onClick)="operar()">
                    </app-button>
                </div>

                <div class="col-12 col-md-6">
                    <app-button label="Volver" icon="fas fa-long-arrow-alt-left" color="eliminar" (onClick)="cerrar()">
                    </app-button>
                </div>
            </div>
        </form>
    </div>


</div>