.separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .title {
    margin: 0;
    flex-grow: 1;
    margin-right: 70px;
  }
  /* Estilo para el formulario en general */
  .full-width {
    width: 100%;
  }
  
  .custom-field {
    width: 100%;
    font-family: Arial, sans-serif; /* Puedes cambiar la fuente si lo deseas */
  }
  
  mat-form-field {
    margin-bottom: 20px; /* Separación entre los campos */
    display: block; /* Asegura que el campo ocupe toda la fila */
    position: relative;
  }
  
  mat-label {
    font-size: 14px;
    font-weight: bold;
    color: #555; /* Color más suave para la etiqueta */
    margin-bottom: 5px;
  }
  
  /* Para el campo de entrada */
  mat-input-element {
    padding: 10px 15px; /* Espaciado dentro del campo */
    font-size: 16px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f7f7f7; /* Fondo suave */
    border: 1px solid #ccc; /* Borde suave */
  }
  
  mat-input-element:focus {
    border-color: #007bff; /* Color azul al hacer foco en el campo */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra sutil al enfocar */
  }
  
  mat-form-field.mat-focused mat-label {
    color: #007bff; /* Color azul cuando el campo tiene foco */
  }
  
  /* Si el campo tiene error */
  mat-form-field.ng-invalid .mat-form-field-underline {
    border-bottom: 2px solid red; /* Resaltar el borde en rojo si hay error */
  }
  
  mat-form-field.ng-valid .mat-form-field-underline {
    border-bottom: 2px solid green; /* Resaltar el borde en verde si es válido */
  }
  
  /* Ajuste para el placeholder */
  input::placeholder {
    color: #aaa; /* Color suave para el placeholder */
  }
  
  /* Agregar un efecto de hover */
  mat-form-field:hover mat-input-element {
    border-color: #007bff; /* Cambiar color al pasar el mouse */
  }
  /* Estilo para los botones */
  .custom-btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    width: 200px;
  }
  
  
  
  .button mat-icon {
    height: 10px;
    background: transparent;
    border: none;
    position: relative;
  }
  
  .volver-btn {
    margin-left: 10px;
    color: white;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 20%;
  }
  /* Header */
  .header h1 {
    color: #007bff;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  /* Estilos adicionales */
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  /* Resaltar campos con error */
  .mat-form-field-invalid .mat-form-field-label {
    color: red !important;
  }
  
  /* Estilos para los campos de texto */
  .custom-field {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  