<app-titulo titulo="Mantenimiento de Lesiones de Estudiante" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>
<div class="container ms-4 mt-4">
    <app-filter-select label="Sedes" [options]="opcionesEquipo" [value]="equipoSeleccionada"
        (valueChange)="equipoSeleccionada = $event; filtrarUsuarios()">
    </app-filter-select>

    <div class="d-flex justify-content-end mb-3">
        <app-button label="Registrar" icon="fas fa-save" color="registrar" (onClick)="registrar()">
        </app-button>
    </div>

    <app-tabla [columnas]="columnas" [datos]="estudiantesFiltrados" [botonesConfig]="botonesConfigTable"
        [onVer]="virsor.bind(this)">
    </app-tabla>
</div>