<app-titulo titulo="Mantenimiento de Equipo" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>
<div class="card-body">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
        <div class="d-flex gap-2">
            <app-button label="Exportar a Excel" icon="fas fa-file-excel" color="excel" (onClick)="exportarExcel()">
            </app-button>

            <app-button label="Exportar a PDF" icon="fas fa-file-pdf" color="pdf" (onClick)="exportarPDF()">
            </app-button>

            <app-button label="Imprimir" icon="fas fa-print" color="imprimir" (onClick)="exportarPrint()">
            </app-button>
        </div>
        <div class="d-flex gap-2">
            <app-button label="Registro" icon="fas fa-plus-circle" color="registrar" (onClick)="operar()">
            </app-button>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-6 col-12">
            <app-filter-select label="Sedes" [options]="opcionesSedes" [value]="sedeSeleccionada"
                (valueChange)="sedeSeleccionada = $event; filtrarUsuarios()">
            </app-filter-select>
        </div>
        <div class="col-md-6 col-12">
            <app-filter-select label="Género" [options]="opcionesGenero" [value]="generoSeleccionado"
                (valueChange)="generoSeleccionado = $event; filtrarUsuarios()">
            </app-filter-select>
        </div>
    </div>

    <app-tabla [columnas]="columnas" [datos]="usuariosFiltrados" [botonesConfig]="botonesConfigTable"
        [onActualizar]="editar.bind(this)" [onVer]="visor.bind(this)">
    </app-tabla>

    <app-pagination [totalItems]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)">
    </app-pagination>
</div>