<div class="card">
    <div class="card-header ">
        <h2 style="font-family:monospace ;"> Eliminacion de Eventos</h2>
    </div>
    <div class="card-body">
        <p style="text-align: center;
          margin-bottom: 0;">¿Está seguro de eliminar la actividad?</p>

        <div class="dos">
            <button type="button" class=" btn btn-success" [mat-dialog-close]="true" cdkFocusInitial><i
                    class="fas fa-check"></i></button>
            <button type="button" class=" btn btn-danger" (click)="onNoClick()"><i class="fas fa-times"></i></button>
        </div>
    </div>
</div>