.card {
  overflow: auto;
  height: 100%;
}

.btn-success {
  float: right;
  height: max-content;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 5px;
}

.btn-danger {
  float: right;
  height: max-content;
  margin-top: 5px;
  margin-right: 5px;
}

.container {
  margin-top: 20px;
  /* Puedes ajustar este valor según tu preferencia */
}

.card-header {
  background-color: lightsteelblue;
  color: black;
  width: 100%;
  padding: 16px 0;
  right: 0;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
}


.full-width {
  width: 100%;
}



.title {
  margin: 0;
  flex-grow: 1;
  margin-right: 70px;
  /* Agrega espacio a la derecha del título */
}

.button mat-icon {
  height: 10px;
  background: transparent;
  border: none;
  position: relative;
}

.volver-btn {
  margin-left: 10px;
  color: white;
  background-color: red;
  width: 40px;
  /* Ancho del botón */
  height: 40px;
  /* Alto del botón */
  border-radius: 20%;
  /* Hace que los bordes sean circulares */
}

.card-body {
  margin: 0 auto;
  margin-top: 40px;
  width: 95%;
  overflow-x: auto;
  /* Habilita el desplazamiento horizontal si es necesario */
}



.btn {
  display: flex;
  /* Alinea el icono y texto */
  align-items: center;
  /* Centra el texto y el icono */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #444;
  /* Color de fondo al hacer hover */
}

.btn i {
  margin-right: 8px;

}

