<div class="card">
  <div class="card-header position-sticky sticky-top bg-light mb-3">
    <div class="container-fluid px-4 px-md-5 py-3">
      <div class="d-flex flex-column flex-md-row align-items-center text-center text-md-start gap-3">
        <h1 class="fw-bold m-0 fs-3 fs-md-1">
          Registrar
        </h1>
      </div>
    </div>
  </div>
  <div class="container mb-4">
    <form [formGroup]="formulario">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de Clases</mat-label>
            <input formControlName="nombre" matInput placeholder="Evento" />
          </mat-form-field>

          <mat-form-field class="full-width custom-field" appearance="outline">
            <mat-label>Equipo</mat-label>
            <mat-select formControlName="equipo" placeholder="Seleccione un Equipo">
              <mat-option value="">Todas las equipo</mat-option>
              <mat-option *ngFor="let equipo of equipoListar" [value]="equipo.codigo">
                {{ equipo.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width custom-field" appearance="outline">
            <mat-label>Fecha de Inicio</mat-label>
            <input formControlName="fechaInicio" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="full-width custom-field" appearance="outline">
            <mat-label>Horario</mat-label>
            <mat-select formControlName="horario" [(ngModel)]="selectedHorario" placeholder="Seleccione un horario"
              (selectionChange)="onHorarioChange($event)">
              <mat-option value="">Todas las horario</mat-option>
              <mat-option *ngFor="let horario of horarioListar" [value]="horario.codigo">
                {{ horario.inicioHora }} - {{ horario.finHora }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width custom-field" appearance="outline">
            <mat-label>Dia</mat-label>
            <mat-select formControlName="dia" placeholder="Seleccione un día" [disabled]="!isFormEnabled">
              <mat-option value="">Todas los Días</mat-option>
              <ng-container *ngFor="let dia of listarDia">
                <mat-option [value]="dia.descripcion1" *ngIf="!isHorarioSelected(dia)">
                  {{ dia.descripcion1 }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width custom-field" appearance="outline">
            <mat-label>Fecha de Fin</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fechaFin" [min]="minDate" [max]="maxDate"
              placeholder="Selecciona una fecha" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <mat-form-field class="col-12 custom-textarea" appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea formControlName="desc" matInput placeholder="Escribe aquí..."></textarea>
        </mat-form-field>

      </div>

      <div class="row g-2 ">
        <div class="col-12 col-md-6">
          <app-button label="Registrar" icon="fas fa-save" color="actualizar" (onClick)="save()">
          </app-button>
        </div>

        <div class="col-12 col-md-6">
          <app-button label="Volver" icon="fas fa-long-arrow-alt-left" color="eliminar" (onClick)="cerrar()">
          </app-button>
        </div>
      </div>
    </form>

  </div>
</div>