<div class="separator">
    <h1 style="font-family: monospace;">Modulos de Clases</h1>
    <button _ngcontent-yfb-c88="" class="volver-btn" (click)="volver()" class="btn btn-danger button_close"
        tabindex="0">
        <i _ngcontent-yfb-c88="" class="fas fa-long-arrow-alt-left"></i>
    </button>
</div>


<div class="container">
    <div class="d-flex flex-column flex-sm-row align-items-center gap-3 mb-3">
        <!-- Selección de opción -->
        <mat-form-field class="custom-field flex-grow-1" appearance="fill">
            <mat-label>Selecciona una opción</mat-label>
            <mat-select [(value)]="opcionSeleccionada">
                <mat-option *ngFor="let opcion of opciones" [value]="opcion">
                    {{ opcion }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="opcionSeleccionada === 'Clases'">
        <app-admin-clave-dev></app-admin-clave-dev>
    </div>
    <div *ngIf="opcionSeleccionada === 'Alumnos'">
       <app-estudiante-dev-pro></app-estudiante-dev-pro>
    </div>
    <div *ngIf="opcionSeleccionada === 'Profesores'">
        <app-profesor-dev-pro></app-profesor-dev-pro>
     </div>
    <div *ngIf="opcionSeleccionada === 'Evaluacion'">
       <app-modulo-admin-evaluacion></app-modulo-admin-evaluacion>
    </div>
    <div *ngIf="opcionSeleccionada === 'Historial'">
   <app-historial-evaluacion-admin></app-historial-evaluacion-admin>
     </div>
 

    <br>

</div>