<app-titulo titulo="Mantenimiento de Clase" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>
<div class="card-body">

    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
        <div class="d-flex gap-2">
            <app-button label="Exportar a Excel" icon="fas fa-file-excel" color="excel" (onClick)="exportarExcel()">
            </app-button>

            <app-button label="Exportar a PDF" icon="fas fa-file-pdf" color="pdf" (onClick)="exportarPDF()">
            </app-button>

            <app-button label="Imprimir" icon="fas fa-print" color="imprimir" (onClick)="exportarPrint()">
            </app-button>
        </div>
        <div class="d-flex gap-2">
            <app-button label="Ver Desactivados" icon="fas fa-eye-slash" color="desactivar"
                (onClick)="verUsuariosDesactivados()">
            </app-button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Clase</th>
                <th>Equipo</th>
                <th>Genero</th>
                <th>Hora</th>
                <th>Fecha Inicial</th>
                <th>Fecha Final</th>
                <th>Dias</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="pagedData.length === 0">
                <td colspan="8" style="text-align: center; color: grey;">
                    No hay datos disponibles.
                </td>
            </tr>
            <tr *ngFor="let row of pagedData">
                <td>{{ row.codigo }}</td>
                <td>{{ row.nombre }}</td>
                <td>{{ row.equipo.nombre }}</td>
                <td>{{ row.equipo.genero }}</td>
                <td>{{row.horario.inicioHora +" - "+row.horario.finHora}}</td>
                <td>{{row.inicio}}</td>
                <td>{{row.fin}}</td>
                <td>{{row.dia}}</td>
                <td>
                    <button mat-icon-button class="btn-editar" (click)="editar(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-vista" (click)="visor(row)">
                        <mat-icon>visibility</mat-icon>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)">
    </mat-paginator>
</div>