<div class="card">
    <div class="card-header position-sticky sticky-top bg-light mb-3">
        <div class="container-fluid px-4 px-md-5 py-3">
            <div class="d-flex flex-column flex-md-row align-items-center text-center text-md-start gap-3">
                <h1 class="fw-bold m-0 fs-3 fs-md-1">
                    Registrar
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="formulario">
            <div class="row">

           
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="categoria">
                            <mat-option *ngFor="let categoria of categorias" [value]="categoria.clave">
                                {{ categoria.clave }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Sede</mat-label>
                        <mat-select formControlName="sede">
                            <mat-option *ngFor="let sede1 of sedes" [value]="sede1.nombre">
                                {{ sede1.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
       
                    <mat-form-field appearance="outline">
                        <mat-label>Género</mat-label>
                        <mat-select formControlName="genero">
                            <mat-option *ngFor="let genero1 of generos" [value]="genero1.descripcion1">
                                {{ genero1.descripcion1 }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
             
            </div>

            <div class="row g-2 ">
                <div class="col-12 col-md-6">
                    <app-button label="Registrar" icon="fas fa-save" color="actualizar" (onClick)="operar()">
                    </app-button>
                </div>

                <div class="col-12 col-md-6">
                    <app-button label="Volver" icon="fas fa-long-arrow-alt-left" color="eliminar" (onClick)="cerrar()">
                    </app-button>
                </div>
            </div>
        </form>

      
    </div>
</div>