/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}



.table th {
    color: #000;
    background-color: #b0c4de;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-family: monospace;
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
}

.table td {
    border: 1px solid #ddd;
    padding: 12px;
    font-family: monospace;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #b0c4de;
    color: rgb(0, 0, 0);
}

/* Estilos para los botones de acción */
.btn-editar {
    color: black;
    /* Color negro para el botón editar */
    margin-right: 8px;
    /* Agrega un poco de espacio a la derecha del botón */

}

.btn-eliminar {
    color: red;
    /* Color rojo para el botón eliminar */
    margin-right: 8px;
    /* Agrega un poco de espacio a la derecha del botón */
}

/* Estilos para el botón de vista */
.btn-vista {
    color: #007bff;
    /* Color azul para el botón de vista */
    margin-right: 8px;
    /* Agrega un poco de espacio a la derecha del botón */
}

/* Estilos para las filas impares */
.table-striped tbody tr:nth-child(odd) {
    background-color: #ffffff;
    color: #333;
    /* Cambia el color del texto si es necesario */
}

/* Estilos para las filas impares */
.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.card-body {
    margin: 0 auto;
   
    width: 95%;
    overflow-x: auto;
    /* Habilita el desplazamiento horizontal si es necesario */
}

.table {
    width: 100%;
    table-layout: auto;
    /* Ajusta automáticamente el ancho de las columnas */
}

.table th,
.table td {
    text-align: left;
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
}

@media (max-width: 768px) {

    .table th,
    .table td {
        font-size: 12px;
        /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 0.5rem;
        /* Reduce el padding para mejor ajuste */
    }
}

@media (max-width: 576px) {
    .table {
        font-size: 10px;
        /* Aumenta el ajuste en pantallas muy pequeñas */
    }

    .table th,
    .table td {
        padding: 0.25rem;
        /* Menor padding en pantallas muy pequeñas */
    }

    .btn-editar,
    .btn-vista,
    .btn-eliminar {
        font-size: 14px;
        /* Ajusta el tamaño de los íconos */
    }
}


.button-container {
    display: flex;
    justify-content: flex-start;
    /* Alinea los botones al principio */
    gap: 15px;
    /* Ajusta el espacio entre los botones */
}

.btn {
    display: flex;
    /* Alinea el icono y texto */
    align-items: center;
    /* Centra el texto y el icono */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #444;
    /* Color de fondo al hacer hover */
}

.btn i {
    margin-right: 8px;
    /* Espacio entre el icono y el texto */
}

.btn-excel {
    background-color: #4CAF50;
    /* Color de fondo de Excel */
    color: white;
}

.btn-pdf {
    background-color: #f44336;
    /* Color de fondo de PDF */
    color: white;
}

.btn-print {
    background-color: #008CBA;
    /* Color de fondo de Print */
    color: white;
}
.btn-view-save{
    margin-left: auto;
    /* Esto mueve este botón hacia la derecha */
    background-color: #025231;
    /* Amarillo */
    color: white;
    /* Texto blanco para buen contraste */
}
.btn-view-deactivated {
    margin-left: auto;
    /* Esto mueve este botón hacia la derecha */
    background-color: #ffc107;
    /* Amarillo */
    color: white;
    /* Texto blanco para buen contraste */
}

@media print {

    /* Ocultar el botón de imprimir */
    .btn-print {
        display: none;
    }

    /* Estilos para la tabla */
    #tablaAImprimir {
        width: 100%;
        border-collapse: collapse;
    }

    #tablaAImprimir th,
    #tablaAImprimir td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

    #tablaAImprimir th {
        background-color: #f2f2f2;
    }
}
.button-container {
    display: flex;
    justify-content: flex-start;
    /* Alinea los botones al principio */
    gap: 15px;
    /* Ajusta el espacio entre los botones */
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    /* Alinea el icono y texto */
    align-items: center;
    /* Centra el texto y el icono */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #444;
    /* Color de fondo al hacer hover */
}

.btn i {
    margin-right: 8px;
    /* Espacio entre el icono y el texto */
}

.btn-excel {
    background-color: #4CAF50;
    /* Color de fondo de Excel */
    color: white;
}

.btn-pdf {
    background-color: #f44336;
    /* Color de fondo de PDF */
    color: white;
}

.btn-print {
    background-color: #008CBA;
    /* Color de fondo de Print */
    color: white;
}

.btn-save {
    margin-left: auto;
    /* Esto mueve este botón hacia la derecha */
    background-color: #0c8a55;
    /* Amarillo */
    color: white;
    /* Texto blanco para buen contraste */
}

.card {
    border-radius: 10px;

}




.card-body {
    font-family: 'Arial', sans-serif;
    /* Fuente moderna y legible */

}

.card-title {
    font-size: 1.5rem;
    /* Tamaño grande para destacar */
    font-weight: bold;
    /* Negrita */

}

.card-text {
    font-size: 1rem;
    /* Tamaño normal */

}

.card {
    height: 400px;
    /* Ajusta este valor según tus necesidades */
    overflow: hidden;
    /* Opcional: para ocultar contenido que sobrepase la altura */
}


p {
    font-size: 1rem;
    /* Tamaño base */
    margin-bottom: 5px;
    /* Espaciado más compacto */
}

.empty-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: #9e9e9e;
}

.text-muted {
    color: #757575;
}