<app-titulo titulo="Modulos de Clases" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>

<div class="container">


    <app-filter-select label="Clases" [showTodos]="false" [options]="opciones" [value]="opcionSeleccionada"
        (valueChange)="opcionSeleccionada = $event; ">
    </app-filter-select>
    
    <div *ngIf="opcionSeleccionada === 'Clases'">
        <app-clase-dev></app-clase-dev>
    </div>
    <div *ngIf="opcionSeleccionada === 'Alumnos'">
        <app-estudiante-dev-pro></app-estudiante-dev-pro>
    </div>
    <div *ngIf="opcionSeleccionada === 'Profesores'">
        <app-profesor-dev-pro></app-profesor-dev-pro>
    </div>
    <div *ngIf="opcionSeleccionada === 'Evaluacion'">
        <app-modulo-evaluacion></app-modulo-evaluacion>
    </div>
    <div *ngIf="opcionSeleccionada === 'Historial'">
        <app-historial-evaluacion></app-historial-evaluacion>
    </div>

    <br>

</div>