<app-navbar></app-navbar>
<div class="container">
    <div class="header">
        <h1><span class="italic">NUESTRAS</span> SEDES</h1>
    </div>

    <div class="programs-grid">
        <!-- Frama Kids -->
        <div class="program-card">
            <img src="../../../assets/img/inicio/sede-1.png" alt="Frama Kids" class="program-image">
            <div class="program-content">

                <div class="program-title">LOS OLIVOS</div>
                <a href="#" class="btn-more">VER MÁS</a>
            </div>
        </div>

        <!-- Escuela de Fútbol Base -->
        <div class="program-card">
            <img src="../../../assets/img/inicio/sede-2.png" alt="Escuela de Fútbol Base" class="program-image">
            <div class="program-content">

                <div class="program-title">COMAS</div>
                <a href="#" class="btn-more">VER MÁS</a>
            </div>
        </div>

        <!-- Fútbol para Adultos -->
        <div class="program-card">
            <img src="../../../assets/img/inicio/sede-3.png" alt="Fútbol para Adultos" class="program-image">
            <div class="program-content">

                <div class="program-title">Carabayllo</div>
                <a href="#" class="btn-more">VER MÁS</a>
            </div>
        </div>

        <!-- Escuela de Arqueros -->
        <div class="program-card">
            <img src="../../../assets/img/inicio/sede-4.png" alt="Fútbol para Adultos" class="program-image">
            <div class="program-content">

                <div class="program-title">CALLAO</div>
                <a href="#" class="btn-more">VER MÁS</a>
            </div>
        </div>
        <div class="program-card">
            <img src="../../../assets/img/inicio/sede-5.png" alt="Fútbol para Adultos" class="program-image">
            <div class="program-content">

                <div class="program-title">INDEPENDENCIA</div>
                <a href="#" class="btn-more">VER MÁS</a>
            </div>
        </div>
        <div class="program-card">
            <img src="../../../assets/img/inicio/sede-6.png" alt="Fútbol para Adultos" class="program-image">
            <div class="program-content">

                <div class="program-title">SAN MIGUEL</div>
                <a href="#" class="btn-more">VER MÁS</a>
            </div>
        </div>
        <div class="program-card">
            <img src="../../../assets/img/inicio/sede-7.png" alt="Fútbol para Adultos" class="program-image">
            <div class="program-content">

                <div class="program-title">RIMAC</div>
                <a href="#" class="btn-more">VER MÁS</a>
            </div>
        </div>
        <div class="program-card">
            <img src="../../../assets/img/inicio/sede-8.png" alt="Fútbol para Adultos" class="program-image">
            <div class="program-content">

                <div class="program-title">SAN MARTIN DE PORRES</div>
                <a href="#" class="btn-more">VER MÁS</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>