

.card-body {
    margin: 0 auto;
   
    width: 95%;
    overflow-x: auto;
}



.empty-state {
    background-color: #f8f9fa;
    border-radius: 8px;
    margin: 20px 0;
}

.empty-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: #6c757d;
}

.match-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.team-name {
    font-weight: 500;
    font-size: 1.1rem;
}

.team-score {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
}

.card {

    border: none;
    border-radius: 8px;
}

