.button mat-icon {
    height: 10px;
    background: transparent;
    border: none;
    position: relative;
}

.volver-btn {
    margin-left: 10px;
    color: white;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 20%;
}

.col-md-4 {
    width: 33.33%;
}

.img-marca {
    width: 160px;
    height: 140px;
}

mat-form-field {
    width: 100%;
}

mat-icon {
    color: #757575;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.custom-search {
    width: 100%;
    height: 76px;
    max-width: 600px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-search mat-icon {
    color: #757575;
    font-size: 24px;
}

.custom-search input {
    font-size: 16px;
    padding: 10px;
}

.custom-search.mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: #3f51b5;
    transition: all 0.3s ease-in-out;
}

.custom-search.mat-form-field-appearance-outline:hover .mat-form-field-outline {
    border-color: #5c6bc0;
}