<header>
  <nav class="navbar">
    <li class="nav-logo">
      <img src="../../../../assets/img/inicio/Logo.png" alt="hola" class="logo-img">
      <h1 class="titulo">ACADEMIA SANTOS FC</h1>
    </li>

    <ul class="nav-menu" [class.show]="isMenuOpen">
      <!-- Botón de cierre del menú -->
      <button id="menu-close-button" class="bx bx-x" (click)="toggleMenu()"></button>

      <li class="nav-item">
        <a routerLink="/inicio" class="nav-link">INICIO</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sedes" class="nav-link">SEDES</a>
      </li>
      <li class="nav-item">
        <a routerLink="/nosotros" class="nav-link">NOSOTROS</a>
      </li>

    </ul>
    <button id="menu-open-button" class="bx bx-menu" (click)="toggleMenu()"></button>
  </nav>
</header>