<app-navbar></app-navbar>

<div id="sportsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
            <img src="../../../assets/img/inicio/Banner-1.png" class="carousel-image" alt="Sports 1">
            <div class="overlay"></div>
            <div class="carousel-caption">
                <div class="top-text">TÚ ELIGES EL OBJETIVO</div>
                <div>
                    <div class="main-text">JUNTOS HACEMOS</div><br>
                    <div class="main-text">EL CAMINO</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <!-- Columna para el título "Quiénes somos" -->
        <div class="col-md-6 mb-4">
            <div class="card p-4 shadow-lg">
                <h2 class="text-center mb-3" style="font-size: 2rem; font-family: 'Arial', sans-serif;">¿Quiénes Somos?
                    - Santos FC
                </h2>
                <p class="text-muted" style="font-size: 1.1rem; line-height: 1.6;">
                    En Santos FC, somos una institución apasionada por el fútbol, con una misión clara: formar jugadores
                    íntegros, comprometidos con su desarrollo deportivo y personal. Desde nuestra fundación, nos hemos
                    destacado por cultivar no solo habilidades en el campo, sino también valores que trascienden más
                    allá del deporte, como el trabajo en equipo, la disciplina y el respeto. <br>
                    Nuestra academia ofrece un ambiente profesional y de alta calidad para jóvenes talentos, guiándolos
                    en su camino hacia el fútbol de élite, mientras fomentamos el crecimiento académico y personal. A
                    través de programas de entrenamiento avanzados, entrenadores altamente calificados y un enfoque
                    integral, nos aseguramos de que cada jugador no solo sea un excelente futbolista, sino también una
                    persona de valores.
                </p>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="row align-items-stretch">

                <div class="col-md-6 mb-4 d-flex">
                    <div class="card text-center p-4 shadow h-100 w-100 feature-card">
                        <div class="icono mb-3">🎓</div>
                        <h3 class="fw-bold">Competitivo</h3>
                        <p class="fs-5">
                            Participamos en distintos torneos a nivel nacional.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 d-flex">
                    <div class="card text-center p-4 shadow h-100 w-100 feature-card">
                        <div class="icono mb-3">❤️</div>
                        <h3 class="fw-bold">Disciplina</h3>
                        <p class="fs-5">
                            En nuestro método de enseñanza es un nivel personalizado.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 d-flex">
                    <div class="card text-center p-4 shadow h-100 w-100 feature-card">
                        <div class="icono mb-3">🎯</div>
                        <h3 class="fw-bold">Profesionalismo</h3>
                        <p class="fs-5">
                            Nuestro equipo de docentes están altamente calificados.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 d-flex">
                    <div class="card text-center p-4 shadow h-100 w-100 feature-card">
                        <div class="icono mb-3">🏅</div>
                        <h3 class="fw-bold">Apoyo al Talento</h3>
                        <p class="fs-5">
                            Apoyamos a los alumnos más destacados a cumplir sus sueños.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="text-container">
        <div class="card p-4 shadow-lg">
            <h1>Método de Enseñanza</h1>
            <p>En nuestra academia, nos enfocamos en que los alumnos disfruten mientras aprenden. Combinamos la
                diversión con un enfoque profesional y comprometido para garantizar que cada estudiante se desarrolle
                tanto en lo deportivo como en lo personal.</p>
            <ul>
                <li><strong>Profesionalismo:</strong> Nuestros docentes, con vocación y experiencia, guían a los
                    estudiantes para que alcancen su máximo potencial.</li>
                <li><strong>Enseñanza Personalizada:</strong> Adaptamos los métodos de enseñanza según las necesidades
                    individuales de cada alumno.</li>
                <li><strong>Valores:</strong> Fomentamos el respeto, la disciplina, el trabajo en equipo y la
                    perseverancia.</li>
                <li><strong>Equilibrio:</strong> Proponemos actividades que combinan la diversión con el desarrollo de
                    habilidades técnicas.</li>
            </ul>
        </div>
    </div>
    <div class="image-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTva9m1-E7wBOG5KEBNP0H47wT_YTEAvO746w&s"
            alt="Método de Enseñanza">
    </div>
</div>
<div class="container">
    <div class="text-container">
        <div class="card p-4 shadow-lg">
            <h1>Visión</h1>
            <p>Ser una academia líder en la formación de futbolistas de alto rendimiento, reconocida por su enfoque
                integral que combina excelencia deportiva, desarrollo personal y valores fundamentales. Buscamos
                impactar positivamente en la vida de nuestros estudiantes, preparándolos no solo para el éxito en el
                fútbol, sino también para ser líderes y modelos a seguir en la sociedad.</p>
            <ul>
                <li><strong>Excelencia Deportiva:</strong> Formar futbolistas con las mejores habilidades técnicas,
                    tácticas y físicas.</li>
                <li><strong>Desarrollo Personal:</strong> Potenciar el crecimiento integral de cada alumno, destacando
                    cualidades como la responsabilidad, la perseverancia y el trabajo en equipo.</li>
                <li><strong>Compromiso Social:</strong> Ser un referente de compromiso y responsabilidad, promoviendo
                    valores positivos dentro y fuera del campo.</li>
                <li><strong>Innovación:</strong> Utilizar métodos de enseñanza modernos, que integren tecnología y
                    enfoques educativos actualizados.</li>
            </ul>
            <p>Queremos ser la opción preferida para quienes buscan una formación completa que combine deporte, valores
                y una visión global del futuro.</p>
        </div>
    </div>
    <div class="image-container">
        <img src="../../../assets/img/inicio/vision.png" alt="Método de Enseñanza">
    </div>
</div>
<app-footer></app-footer>