<app-titulo titulo="Modulos de Clases" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>

<div class="container mt-4">
    <app-filter-select label="Clases" [showTodos]="false" [options]="opciones" [value]="opcionSeleccionada"
        (valueChange)="opcionSeleccionada = $event; ">
    </app-filter-select>
    <div *ngIf="opcionSeleccionada === 'Clases'">
        <app-admin-clave-dev></app-admin-clave-dev>
    </div>
    <div *ngIf="opcionSeleccionada === 'Alumnos'">
        <app-estudiante-dev-pro></app-estudiante-dev-pro>
    </div>
    <div *ngIf="opcionSeleccionada === 'Profesores'">
        <app-profesor-dev-pro></app-profesor-dev-pro>
    </div>
    <div *ngIf="opcionSeleccionada === 'Evaluacion'">
        <app-modulo-admin-evaluacion></app-modulo-admin-evaluacion>
    </div>
    <div *ngIf="opcionSeleccionada === 'Historial'">
        <app-historial-evaluacion-admin></app-historial-evaluacion-admin>
    </div>
</div>