<app-titulo titulo="Asignacion de Equipo" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>



<div class="container  mb-4">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mt-3 mb-3">
        <div class="d-flex gap-2">
            <app-button label="Finalizar" icon="fas fa-check-circle" color="registrar" (onClick)="accionNuevo()">
            </app-button>

            <app-button label="Limpiar" icon="fas fa-broom" color="limpiar" (onClick)="limpiar()">
            </app-button>
        </div>
    </div>



    <div class="row ">
        <!-- Columna del Formulario (más grande) -->
        <div class="col-lg-6 col-md-12" style="border: 2px solid #ccc; padding: 20px;">

            <div class="mb-4">
                <app-titulo titulo="Equipo Asignado">
                </app-titulo>
            </div>
            <form [formGroup]="formulario">
                <div class="row">
                    <mat-form-field class="full-width custom-field" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <mat-select formControlName="nombre" placeholder="Seleccione un equipo"
                            (selectionChange)="onEquipoSeleccionado($event.value)">
                            <mat-option *ngFor="let equipo of datosTabla" [value]="equipo">
                                {{ equipo.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width custom-field" appearance="fill">
                        <mat-label>Categoría</mat-label>
                        <input formControlName="categoria" matInput [value]="categoriaSeleccionada" readonly>
                    </mat-form-field>
                    <mat-form-field class="full-width custom-field" appearance="fill">
                        <mat-label>Sede</mat-label>
                        <input formControlName="sede" matInput [value]="sedeSeleccionada" readonly>
                    </mat-form-field>
                    <mat-form-field class="full-width custom-field" appearance="fill">
                        <mat-label>Género</mat-label>
                        <input formControlName="genero" matInput [value]="generoSeleccionado" readonly>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <app-button *ngIf="!formulario.disabled" label="Guardar" icon="fas fa-plus-circle"
                            color="registrar" (onClick)="operar()">
                        </app-button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-md-12 " style="border: 2px solid #ccc; padding: 20px;">
            <div class="mb-4">
                <app-titulo titulo="Asignacion">
                </app-titulo>
            </div>
            <form [formGroup]="formulario1">

                <div class="row mb-4">
                    <div class="col-md-12">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Selecciona un rol</mat-label>
                            <mat-select formControlName="rol" (selectionChange)="cambiarRol()"
                                [disabled]="!isFormEnabled">
                                <mat-option *ngFor="let rol of roles" [value]="rol">{{ rol }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <ng-container *ngIf="formulario1.get('rol')?.value === 'Estudiante'">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Estudiante</mat-label>
                                <mat-select formControlName="estudiante" [disabled]="!isFormEnabled">
                                    <mat-option *ngFor="let sede of listarEstu" [value]="sede.codigo">
                                        {{ sede.primerNombre + " " + sede.apellidoPaterno + " " +
                                        sede.apellidoMaterno }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                <div class="row mb-3" *ngIf="formulario1.get('rol')?.value === 'Profesor'">
                    <div class="col-md-12">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Cargo</mat-label>
                            <mat-select formControlName="cargo"
                                [disabled]="!isFormEnabled || formulario1.get('rol')?.value !== 'Profesor'"
                                (selectionChange)="filtrarProfesoresPorCargo()">
                                <mat-option *ngFor="let cargo of cargos" [value]="cargo">{{ cargo }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <ng-container *ngIf="formulario1.get('rol')?.value === 'Profesor'">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Profesores</mat-label>
                                <mat-select formControlName="profesor" [disabled]="!isFormEnabled">
                                    <mat-option *ngFor="let sede of listarProfe" [value]="sede.codigo">
                                        {{ sede.primerNombre + " " + sede.apellidoPaterno + " " +
                                        sede.apellidoMaterno }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <app-button *ngIf="mostrarFormularioDetalle" label="Guardar" icon="fas fa-plus-circle"
                            color="registrar" (onClick)="registrar()">
                        </app-button>
                    </div>
                </div>
            </form>
        </div>




        <div class="col-lg-6 col-md-12 mb-4" style="border: 2px solid #ccc; padding: 20px;">

            <div class="mb-4">
                <app-titulo titulo="Lista de Estudiante">
                </app-titulo>
            </div>

            <app-tabla [columnas]="columnasEstudiantes" [datos]="estudiantes" [botonesConfig]="botonesConfigTableEstudiante"
                [onCancelar]="eliminarEstudiante.bind(this)">
            </app-tabla>

        </div>

        <!-- Columna para la lista de profesores -->
        <div class="col-lg-6 col-md-12 mb-4" style="border: 2px solid #ccc; padding: 20px;">
            <div class="mb-4">
                <app-titulo titulo="Lista de Profesores">
                </app-titulo>
            </div>

            <app-tabla [columnas]="columnasProfesor" [datos]="profesores" [botonesConfig]="botonesConfigTableProfesor"
                [onCancelar]="eliminarProfesor.bind(this)">
            </app-tabla>
      
            <div *ngIf="profesores.length >= 3" class="text-danger mt-3">
                Ya se han completado los espacios para profesores.
            </div>



        </div>
    </div>
</div>