<div class="container mt-4 mb-4 ">
    <div *ngIf="claseListar?.length > 0; else noClases">
        <div *ngFor="let clase of claseListar" class="my-2 p-3 border rounded shadow-sm bg-light">
            <app-titulo [titulo]="clase.titulo" class="mb-3">
            </app-titulo>
            <div class="container">
                <h2 class="h5 mt-3 mb-2">
                    <i class="fas fa-thumbtack me-2 "></i>
                    Descripción
                </h2>
                <p class="text-muted mb-3 " [innerHTML]="formatTexto(clase.descripcion)"></p>

                <h2 class="h5 mt-3 mb-2">
                    <i class="fas fa-bullseye me-2 "></i>
                    Objetivo
                </h2>
                <p class="text-muted mb-2" [innerHTML]="formatTexto(clase.objetivo)"></p>

            </div>
            <!-- Si hay ejercicios, muéstralos -->
            <div *ngIf="ejerciciosListar?.length > 0; else noEjercicios"
                class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" *ngFor="let ejercicio of ejerciciosListar">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">{{ ejercicio.nombre }}</h3>
                            <p><strong>Descripción:</strong></p>
                            <p class="card-text" [innerHTML]="formatTexto(ejercicio.descripcion)"></p>
                            <p><strong>Duración:</strong> {{ ejercicio.duracion }}</p>
                            <p><strong>Tipo:</strong> {{ ejercicio.tipo }}</p>
                            <p><strong>Intensidad:</strong> {{ ejercicio.intensidad }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mensaje si no hay ejercicios -->
            <ng-template #noEjercicios>
                <div class="alert alert-info mt-3">
                    <i class="fas fa-info-circle me-2"></i> No hay ejercicios disponibles para esta clase.
                </div>
            </ng-template>
        </div>
    </div>

    <!-- Mensaje si no hay clases -->
    <ng-template #noClases>
        <div class=" text-center p-4">
            <i class="fas fa-exclamation-triangle fa-2x mb-3"></i>
            <h3 class="text-lg font-semibold">No hay clases disponibles</h3>
            <p class="text-gray-600">Por el momento, no se han registrado clases.</p>
        </div>
    </ng-template>
</div>