

.card {
    border-radius: 10px;

}




.card-body {
    font-family: 'Arial', sans-serif;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.card {
    height: 400px;
    overflow: hidden;
}


p {
    font-size: 1rem;
    margin-bottom: 5px;
}
.alert {
    border-radius: 8px;
    padding: 1rem;
}


.alert-info {
    background-color: #e7f5ff;
    border-left: 4px solid #4dabf7;
}