<div class="card">
    <div class="card-header position-sticky sticky-top">
        <button _ngcontent-yfb-c88="" (click)="cerrar()" class="btn btn-danger button_close" tabindex="0"><i
                _ngcontent-yfb-c88="" class="fas fa-long-arrow-alt-left"></i></button>
        <button _ngcontent-yfb-c69="" class="btn btn-success ng-star-inserted" (click)="operar()"
            style="margin-right: 10px; align-items: flex-end;"><i _ngcontent-yfb-c69=""
                class="fas fa-save"></i></button>
        <h3 style="margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700px;font-family: monospace;">
            Editar</h3>
    </div>
    <div class="container">
        <form [formGroup]="formulario">
            <div class="row">

           
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput />
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="categoria">
                            <mat-option *ngFor="let categoria of categorias" [value]="categoria.clave">
                                {{ categoria.clave }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Sede</mat-label>
                        <mat-select formControlName="sede">
                            <mat-option *ngFor="let sede1 of sedes" [value]="sede1.nombre">
                                {{ sede1.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
       
                    <mat-form-field appearance="fill">
                        <mat-label>Género</mat-label>
                        <mat-select formControlName="genero">
                            <mat-option *ngFor="let genero1 of generos" [value]="genero1.descripcion1">
                                {{ genero1.descripcion1 }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
             
            </div>
        </form>
    </div>
</div>