<div class="card">
    <div class="card-header position-sticky sticky-top bg-light mb-3">
        <div class="container-fluid px-4 px-md-5 py-3">
            <div class="d-flex flex-column flex-md-row align-items-center text-center text-md-start gap-3">
                <h1 class="fw-bold m-0 fs-3 fs-md-1">
                    Actualizar
                </h1>
            </div>
        </div>
    </div>
	
      <div class="container mt-4 mb-4">
        <form [formGroup]="formulario">
            <div class="mb-3">
                <mat-form-field class="full-width custom-field" appearance="outline">
                    <mat-label>Titulo </mat-label>
                    <input formControlName="titulo" matInput placeholder="Digite su Objetivo de Clase">
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field class="full-width custom-field" appearance="outline">
                    <mat-label>Objetivo</mat-label>
                    <textarea formControlName="objetivo" matInput placeholder="Digite la objetivo de la Clase" rows="5" cols="50"></textarea>
                </mat-form-field>
                
            </div>
            <div class="mb-3">
                <mat-form-field class="full-width custom-field" appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <textarea formControlName="descripcion" matInput placeholder="Digite la descripción de la Clase" rows="5" cols="50"></textarea>
                </mat-form-field>
                
            </div>

            	 <div class="row g-2 ">
                <div class="col-12 col-md-6">
                    <app-button label="Actualizar" icon="fas fa-edit" color="editar" (onClick)="operar()">
                    </app-button>
                </div>

                <div class="col-12 col-md-6">
                    <app-button label="Volver" icon="fas fa-long-arrow-alt-left" color="eliminar" (onClick)="cerrar()">
                    </app-button>
                </div>
            </div>
        </form>

    </div>
</div>