.card {
  overflow: auto;
  height: 100%;
}

.card-header {
  background: linear-gradient(135deg, #1e3a8a, #3b82f6);
  color: white;
  width: 100%;
  padding: 16px 0;
  right: 0;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.custom-field textarea {
  height: 120px;
  min-height: 80px;
  max-height: 200px;
  resize: vertical;
}