

<app-titulo titulo="Modulo de Clases" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex" *ngFor="let row of datosTabla">
            <div class="card w-100"> 
                <div class="card-body d-flex flex-column">  
                    <h1 class="card-title text-center">{{row.nombre}}</h1>
                    <div class="docente text-center">{{row.equipo.nombre}}</div>
                    <div class="taller text-center">{{row.equipo.categoria}}</div>
                    <hr>
                    <ul class="lista list-unstyled flex-grow-1">
                        <li> {{"Sede : " + row.equipo.sede}}</li>
                        <li>{{"Genero : " + row.equipo.genero}} </li>
                        <li>{{"Dia : " + row.dia}}</li>
                        <li>{{ "Fecha Inicio : " + formatDate(row.inicio) }}</li>
                        <li>{{ "Fecha Final : " + formatDate(row.fin) }}</li>
                        <li>{{"Horario : " + row.horario.inicioHora + " - " + row.horario.finHora}}</li>
                    </ul>
                    <a [routerLink]="['/clases/modulos', row.codigo]" class="btn btn-primary mt-auto">Ver Módulo</a>
                </div>
            </div>
        </div>
    </div>
</div>