<app-titulo titulo="Modulos de Clases" >
</app-titulo>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex" *ngFor="let row of datosTabla">
            <div class="card w-100">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title text-center fw-bold mb-1">
                        {{ row.nombre }}
                    </h2>
                    <div class="text-center text-muted small">
                        {{ row.equipo.nombre }}
                    </div>

                    <div class="text-center text-secondary small mb-2">
                        {{ row.equipo.categoria }}
                    </div>

                    <hr class="my-2">

                    <ul class="list-unstyled flex-grow-1 mb-2">
                        <li class="mb-1">
                            <strong>Sede:</strong> {{ row.equipo.sede }}
                        </li>
                        <li class="mb-1">
                            <strong>Género:</strong> {{ row.equipo.genero }}
                        </li>
                        <li class="mb-1">
                            <strong>Día:</strong> {{ row.dia }}
                        </li>
                        <li class="mb-1">
                            <strong>Fecha Inicio:</strong> {{ formatDate(row.inicio) }}
                        </li>
                        <li class="mb-1">
                            <strong>Fecha Final:</strong> {{ formatDate(row.fin) }}
                        </li>
                        <li class="mb-1">
                            <strong>Horario:</strong>
                            {{ row.horario.inicioHora }} - {{ row.horario.finHora }}
                        </li>
                    </ul>


                    <app-button label="Ver Módulo" icon="fas fa-eye" color="modulo"
                        [routerLink]="['/clases/modulos', row.codigo]">
                    </app-button>

                </div>
            </div>
        </div>
    </div>
</div>