<app-titulo titulo="Detalle Equipo">
</app-titulo>
<div class="container mb-4">

    <app-filter-select label="Equipo" [options]="opcionesEquipo" [value]="equipoSeleccionada"
        (valueChange)="equipoSeleccionada = $event; filtrarUsuarios()">
    </app-filter-select>
    <div class="row">

        <div class="col-lg-6 col-md-12 mb-4" style="border: 2px solid #ccc; padding: 20px;">
            <div class="mb-4">
                <app-titulo titulo="Profesores">
                </app-titulo>
            </div>
            <app-tabla [columnas]="columnasProfesores" [datos]="profesoresFiltrados"
                [botonesConfig]="botonesConfigTableProfesor" [onVer]="visor.bind(this)">
            </app-tabla>
        </div>
        <div class="col-lg-6 col-md-12 mb-4" style="border: 2px solid #ccc; padding: 20px;">
            <div class="mb-4">
                <app-titulo titulo="Estudiantes">
                </app-titulo>
            </div>
            <app-tabla [columnas]="columnasEstudiantes" [datos]="estudiantesFiltrados"
                [botonesConfig]="botonesConfigTableEstudiante" [onVer]="visor.bind(this)">
            </app-tabla>
        </div>
    </div>
</div>