/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  
  
  .table th {
    color: #000; 
    background-color: #b0c4de;
     border: 1px solid #ddd;
    padding: 12px;  
    text-align: left;
     font-family: monospace;
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
  }
  .table td {
    border: 1px solid #ddd;
    padding: 12px;
    font-family: monospace;
  }
  
  .table-striped tbody tr:nth-child(even) {
    background-color: #b0c4de;
    color: rgb(0, 0, 0);
  }

  
  /* Estilos para las filas impares */
  .table-striped tbody tr:nth-child(odd) {
    background-color: #ffffff;
    color: #333; /* Cambia el color del texto si es necesario */
  }
  
  /* Estilos para las filas impares */
  .table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .card-body {
    margin: 0 auto;
    margin-top: 40px;
    width: 95%;
    overflow-x: auto; /* Habilita el desplazamiento horizontal si es necesario */
  }
  
  .table {
    width: 100%;
    table-layout: auto; /* Ajusta automáticamente el ancho de las columnas */
  }
  
  .table th, .table td {
    text-align: left;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }
  
  @media (max-width: 768px) {
    .table th, .table td {
      font-size: 12px; /* Reduce el tamaño del texto en pantallas pequeñas */
      padding: 0.5rem; /* Reduce el padding para mejor ajuste */
    }
  }
  
  @media (max-width: 576px) {
    .table {
      font-size: 10px; /* Aumenta el ajuste en pantallas muy pequeñas */
    }
  
    .table th, .table td {
      padding: 0.25rem; /* Menor padding en pantallas muy pequeñas */
    }
  
  }

 



    .celda-roja {
      background-color: rgb(238, 92, 92) !important;
      color: white !important;
      text-align: center; /* Para centrar el texto, opcional */
    }
    .celda-azul {
      background-color: rgb(238, 92, 92) !important;
      color: white !important;
      text-align: center; /* Para centrar el texto, opcional */
    }
    .celda-numero {
      background-color: rgb(238, 92, 92) !important;
      color: white !important;
      text-align: center; /* Para centrar el texto, opcional */
    }
    .celda-sede {
      background-color: rgb(238, 92, 92) !important;
      color: white !important;
      text-align: center; /* Para centrar el texto, opcional */
    }
    .celda-cargo {
      background-color: rgb(238, 92, 92) !important;
      color: white !important;
      text-align: center; 
    }