<div class="container mt-4 pb-4">
  <!-- Barra de búsqueda -->
  <div class="search-container">
    <mat-form-field appearance="outline" class="custom-search">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" placeholder="Buscar por nombre o apellidos" [(ngModel)]="filtro"
        (input)="filtrarUsuarios()">
      <mat-hint>Ingrese al menos 3 caracteres</mat-hint>
    </mat-form-field>
  </div>
  <app-user-card [datos]="usuariosFiltrados" [columnas]="columnas" (ver)="operar($event)">
  </app-user-card>
</div>