.custom-select {
  width: 100%;
  margin: 0;
  font-size: 14px;
}


.custom-select .mat-form-field-wrapper {
  background-color: white;  
  border-radius: 4px;
  padding-left: 8px;
}

/* Borde del outline */
.custom-select .mat-form-field-outline {
  border-color: #ccc;        /* Borde sutil */
}

/* Borde al enfocar */
.custom-select.mat-focused .mat-form-field-outline {
  border-color: #3f51b5;
  border-width: 1.5px;
}


.mat-select-trigger {
  padding: 4px 0;
}

.mat-select-panel {
  background-color: white;
}

.mat-option {
  padding: 8px 16px;
}
