<div class="card">
  <div class="card-header position-sticky sticky-top">
    <button type="button" class="btn btn-danger" (click)="volver()">
      <i class="fas fa-long-arrow-alt-left"></i>
    </button>
    <h3 style="margin: 0; margin-top: 8px; margin-left: 20px; font-weight: 700; font-family: monospace;">
      Vista
    </h3>
  </div>
  <div class="container">

    <form [formGroup]="formulario">
      <div class="row">

        <div class="col-lg-4 col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigo">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
          </mat-form-field>
        </div>



        <div class="col-lg-4 col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Equipo</mat-label>
            <input matInput formControlName="equipo">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Género</mat-label>
            <input matInput formControlName="genero">
          </mat-form-field>
        </div>


        <div class="col-lg-4 col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Inicio Hora</mat-label>
            <input matInput  formControlName="inicioHora">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Fin Hora</mat-label>
            <input matInput  formControlName="finHora">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput  formControlName="fechaInicio">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Fecha Fin</mat-label>
            <input matInput  formControlName="fechaFin">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Día</mat-label>
            <input matInput formControlName="dia">
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row justify-content-center">
      <!-- Información de Creación -->
      <div class="col-12 col-md-6 mb-3 text-center">
        <h5><strong>Usuario Creación:</strong> {{ usuarioCreacion }}</h5>
        <h5><strong>Fecha Creación:</strong> {{ fechaCreacion }}</h5>
        <h5><strong>Hora Creación:</strong> {{ horaCreacion }}</h5>
      </div>

      <!-- Información de Actualización -->
      <div class="col-12 col-md-6 mb-3 text-center">
        <h5><strong>Usuario Actualización:</strong> {{ usuarioActualizacion }}</h5>
        <h5><strong>Fecha Actualización:</strong> {{ fechaActualizacion }}</h5>
        <h5><strong>Hora Actualización:</strong> {{ horaActualizacion }}</h5>
      </div>
    </div>
  </div>

</div>