<app-titulo titulo="Mantenimiento de Lesiones de Estudiante" >
</app-titulo>

<div class="container mt-4">

  <app-filter-select label="Sedes" [options]="opcionesEquipo" [value]="equipoSeleccionada"
    (valueChange)="equipoSeleccionada = $event; filtrarUsuarios()">
  </app-filter-select>

  <app-tabla [columnas]="columnas" [datos]="pagedData" [botonesConfig]="botonesConfigTable" [onVer]="virsor.bind(this)">
  </app-tabla>

  <app-pagination [totalItems]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)">
  </app-pagination>
</div>