<app-titulo titulo="Mantenimiento de Lesiones de Estudiante" [botonesConfig]="botonesConfig" (volver)="volver()">
</app-titulo>

<div class="container mt-4">
  <div class="d-flex flex-column flex-sm-row align-items-center gap-3 mb-3">
    <mat-form-field class="custom-field flex-grow-1" appearance="fill">
      <mat-label>Equipo</mat-label>
      <mat-select [(ngModel)]="equipoSeleccionada" (selectionChange)="filtrarUsuarios()">
        <mat-option value="">Todas las equipos</mat-option>
        <mat-option *ngFor="let sede of equipo" [value]="sede.nombre">
          {{ sede.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <app-tabla
    [columnas]="columnas"
    [datos]="pagedData"
    [botonesConfig]="botonesConfigTable"
    [onVer]="virsor.bind(this)">
  </app-tabla>

  <app-pagination
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)">
  </app-pagination>
</div>
